{% load static %}
<!DOCTYPE html>
<!---Coding By CoderGirl | www.codinglabweb.com--->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--<title>Login & Registration Form | CoderGirl</title>-->
  <!---Custom CSS File--->
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
  <div class="container">
    <div class="login form">
      <header align="center">Signup</header>
      <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Enter your first name" name="first_name">
        <input type="text" placeholder="Enter your last name" name="last_name">
        <input type="text" placeholder="Enter your email" name="email">
        <input type="password" placeholder="Create a password" name="password1">
        <input type="password" placeholder="Confirm your password" name="password2">
        <input type="submit" class="button" value="Signup">
        <center>
          {% if error %}
          <p style="color: red;">{{ error }}</p>
          {% endif %}
        </center>
        
      </form>
      <p class="signup">Already Registered then - <a class="signup" href="{% url 'login' %}" style="color:rgb(227, 66, 227);text-decoration: none;">Login</a></p>
    </div>
  </div>
</body>
</html>
